<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lewis Hamilton</title>
</head>
<body>
    <img height="300" src='/public/img/Lewis_Hamilton_2016_Malaysia_2.jpg'>
    <h1>Lewis Hamilton</h1>
    <p>Sir Lewis Carl Davidson Hamilton (born 7 January 1985) is a British racing driver. He currently competes in Formula One for Mercedes, having previously driven for McLaren from 2007 to 2012. In Formula One, Hamilton has won a joint-record seven World Drivers' Championship titles (tied with Michael Schumacher), and holds the records for the most wins (98), pole positions (100), and podium finishes (171), amongst others.

        Born and raised in Stevenage, Hertfordshire, Hamilton was signed to the McLaren young driver programme in 1998. This led to a Formula One drive with McLaren in 2007, making Hamilton the first, and so far only, black driver to race in the series. That season, Hamilton set numerous records as he finished runner-up to Kimi Räikkönen by one point. The following season, he won his maiden title in dramatic fashion—making a crucial overtake on the last corner of the last lap in the last race of the season—to become the then-youngest Formula One World Champion in history. After four more years with McLaren, Hamilton signed with Mercedes in 2013.
        
        Changes to the regulations for 2014, mandating the use of turbo-hybrid engines, came at the start of a highly successful period for Hamilton, during which he has won six further drivers' titles. Hamilton won consecutive titles in 2014 and 2015 during an intense rivalry with teammate Nico Rosberg. Following Rosberg's retirement, Ferrari's Sebastian Vettel became Hamilton's closest rival in two intense championship battles, and Hamilton twice overturned mid-season points deficits to claim consecutive titles again in 2017 and 2018. Hamilton won his third and fourth titles in a row in 2019 and 2020, equaling Schumacher's record of seven driver titles.
        
        Hamilton has been credited with furthering Formula One's global following by appealing to a broader audience outside the sport, in part due to his high-profile lifestyle, environmental and social activism, and his exploits in music and fashion. He has also become a prominent advocate in support of activism to combat racism and push for increased diversity in motorsport. Hamilton was listed in the 2020 issue of Time as one of the 100 most influential people globally, and was knighted in the 2021 New Year Honours.</p>
    <a href='http://localhost:3030/home'>Back to home</a>
</body>
</html>