<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edward Hopper</title>
</head>
<body>
    <img height="300" src='/public/img/Edward_Hopper,_New_York_artist_LCCN2016871478_(cropped).jpg'>
    <h1>Edward Hopper</h1>
    <p>Edward Hopper (July 22, 1882 – May 15, 1967) was an American realist painter and printmaker. While he is widely known for his oil paintings, he was equally proficient as a watercolorist and printmaker in etching. His career benefited decisively from his marriage to fellow-artist Josephine Nivison, who contributed much to his work, both as a life-model and as a creative partner. Hopper was a minor-key artist, creating subdued drama out of commonplace subjects ‘layered with a poetic meaning’, inviting narrative interpretations, often unintended. He was praised for ‘complete verity’ in the America he portrayed.</p>
    <a href='http://localhost:3030/home'>Back to home</a>
</body>
</html>