<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linda Lovelace</title>
</head>
<body>
    <img height="300" src='/public/img/Linda_Lovelace_photo.jpg'>
    <h1>Linda Lovelace</h1>
    <p>Linda Lovelace (born Linda Susan Boreman; January 10, 1949 – April 22, 2002) was an American pornographic actress known for her performance in the 1972 hardcore film Deep Throat. Although the film was an enormous success at the time, Boreman later said that her abusive husband, Chuck Traynor, had threatened and coerced her into the performance. In her autobiography Ordeal, she described what went on behind the scenes. She later became a born-again Christian and a spokeswoman for the anti-pornography movement.</p>
    <a href='http://localhost:3030/home'>Back to home</a>
</body>
</html>